body {
    margin: 0;
    padding: 0;

    background-image: url("assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: rowdies;
}

.container {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    padding: 50px 100px;

    border-style: solid;
    border-color: white;
    border-radius: 0 20px;
    border-width: 2px;

    box-shadow: 
                -5px -5px 10px 10px rgb(56, 56, 56),
        inset   0 0 30px 0px rgb(112, 116, 124);

    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.container.error {
    box-shadow: 
                -5px -5px 10px 10px rgb(56, 56, 56),
        inset   0 0 30px 0px red;
}

.container.error a:hover {
    box-shadow: 0 0 5px 0 red;
}

.message {
    font-family: rowdies-light;
    color: darkblue;
}

.error-message {
    color: rgb(221, 0, 0);
}

.full-width-button {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
}

a {
    display: inline-block;
    color:black;
    background-color: lightgray;
    padding: 3px 10px;
    margin: 1px;
    text-decoration: none;

    border-radius: 5px;

    transition: 
        box-shadow 0.7s, 
        color 0.3s,
        background-color 0.3s;
}

a:hover {
    background-color: lightslategray;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 7px 0 mediumturquoise;
}

input, select {
    background-color: inherit;
    border: 2px solid lightsteelblue;
    transition: 0.5s;
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 2px 0 mediumturquoise;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 100%; }
}

@font-face {
    font-family: rowdies;
    src: url("assets/fonts/Rowdies-Regular.ttf");
}

@font-face {
    font-family: rowdies;
    src: url("assets/fonts/Rowdies-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: rowdies-light;
    src: url("assets/fonts/Rowdies-Light.ttf");
}