<div class="container" *ngIf="!showError; else errorBlock">
  <a routerLink="/main">&#8678; Back</a>

  <h2>Download Saved Frequency</h2>

  <div id="input-container">
    The frequency's id:
    <app-id-input (idChanged)="updateId($event)" (onHttpError)="showHttpError($event)" [idMessages]="idMessages">
    </app-id-input>
  </div>

  <app-download-button (onHttpError)="showHttpError($event)" [id]="id">
  </app-download-button>
</div>

<ng-template #errorBlock>
  <app-http-error (pressedBack)="removeHttpError()" [error]="httpError">
  </app-http-error>
</ng-template>
