<div class="container" *ngIf="!showError; else errorBlock">
  <a routerLink="/main">&#8678; Back</a>

  <h2>Generate New Frequency</h2>

  <ul>
    <li>
      Choose an ID:
      <app-id-input (idChanged)="updateId($event)" (onHttpError)="showHttpError($event)" [idMessages]="idMessages">
      </app-id-input>
    </li>

    <li>
      Choose the frequency's size:
      <select [(ngModel)]="size">
        <option value=32>32</option>
        <option value=64>64</option>
      </select>
    </li>
  </ul>

  <a class="full-width-button" (click)="generateNewFrequency()">Generage The Frequency</a>

  <div [ngClass]="{'message': true, 'error-message': generationMessage.error}" *ngIf="generationMessage.text">
    A Frequency with Id <b>{{generatedId}}</b> and size
    <b>{{generatedSize}}</b> {{generationMessage.text}}
  </div>
  <app-download-button *ngIf="generationMessage.text && !generationMessage.error" (onHttpError)="showHttpError($event)"
    [id]="generatedId">
  </app-download-button>
</div>

<ng-template #errorBlock>
  <app-http-error (pressedBack)="removeHttpError()" [error]="httpError">
  </app-http-error>
</ng-template>
