<div class="container">
  <h1>WELCOME TO THE FREQUENCY GENERATOR</h1>

  <a class="full-width-button" routerLink="/generate-new-frequency">Generate New Frequency</a>

  <a class="full-width-button" routerLink="/download-saved-frequency">Download Saved Frequency</a>

  <a class="full-width-button" routerLink="/view-frequencies">View All Frequencies</a>
</div>
