<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container" *ngIf="!showError; else errorBlock">
  <a routerLink="/main">&#8678; Back</a>

  <h2>Frequencies List</h2>

  <table id="frequencies">
    <tr *ngFor="let frequencyId of frequenciesIds">
      <td>{{frequencyId}}</td>
      <td class="download-icon">
        <a (click)='download(frequencyId)'><i class="fa fa-download"></i></a>
      </td>
    </tr>
  </table>
</div>

<ng-template #errorBlock>
  <app-http-error (pressedBack)="removeHttpError()" [error]="httpError">
  </app-http-error>
</ng-template>
